[submodule "vimit/project1_customiz"]
	path = vimit/project1_customiz
	url = git@github.com:vimit/project1_customiz.git
	branch = master

[submodule "DrAnytime/DrAnytime_CRM"]
	path = DrAnytime/DrAnytime_CRM
	url = git@github.com:vimit/DrAnytime_CRM.git
	branch = master
[submodule "exact_online_connector_client"]
	path = exact_online_connector_client
	url = git@github.com:younesboukamher/exact_online_connector_client.git
